table{
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid;
    border-color: #19CAC5;
    padding:10px;
}
button{
    color:white;
    font-weight:bold;
    background-color:#19CAC5;
    width:100px;
    height:25px;
    font-size:15px;
}