table{
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid;
    border-color: #19CAC5;
    padding:5px;
}
button{
    color:white;
    font-weight:bold;
    background-color:#19CAC5;
    width:100px;
    height:25px;
    font-size:15px;
}
#cajapadre{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}   

#cajapadre > div{
    height: 600px;
    margin: 2px;
    background-color: #CCCCCC;
}

#Persona{
    width: 400px;
    
}
#Vehiculo{
    width: 400px;
    
}
#Ventas{
    width: 400px;
    
}
#Factura{
    width: 1200px;  
}